



.instagram_main_content{
    padding-top: 50px;
    padding-left:78px;
    padding-right:78px;
}

.insta_posts{
    margin-top:40px;
}

.insta_profiles{
    display:flex;
    justify-content: space-between;
}
.insta_profile{
    img{
        position: relative;
    padding: 5px;
    border-radius:50px; 
    background: linear-gradient(45deg, #ff005a, #ff5400, #ffbd00, #0077ff);
    z-index:1; 
    }
}

.post_title{

    img{
        width:32px;
        height:32px;
        position: relative;
    padding:3px;
    border-radius:50px; 
    background: linear-gradient(45deg, #ff005a, #ff5400, #ffbd00, #0077ff);
    z-index:1; 
    }
}
.insta_post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color:#262626;
        font-weight:600;

    }
}
.left_part{
    display: flex;
    align-items: center;
    gap:7px;
}
.reaction_area{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:17px 0px;
}
.reaction_left{
    display:flex;
    align-items: center;
    gap:10px;
}
.insta_post_comment{

    h2{
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color:#262626;
        font-weight:600;
        line-height: 18px;


    }

    p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color:#262626;
        font-weight:Regular;
        line-height: 18px;
        span{
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            color:#262626;
            font-weight:600;
            line-height: 18px;

        }

    }

    h3{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color:#262626;
        font-weight:600;
        line-height: 16px;


    }
    h4{
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color:#8E8E8E;
        font-weight:Regular;
        line-height: 18px;


    }
}
.input_comments{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
    input{
        width:100%;
        padding-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color:#262626;
        font-weight:Regular;
       
        outline: none;
        border-style: none;
    }
}
.switch_id{
    display:flex;
    justify-content: space-between;
    align-items: center;

    h2{
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        color:#0095F6;
        font-weight:600;
        line-height: 18px;

    }
}

.switch_profile{

    display:flex;
    align-items: center;
    gap:10px;
    img{
        border-radius: 50px;
    }
}

.new_content{
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color:#262626;
        font-weight:600;
        line-height: 18px;

    }

    h2{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color:#8E8E8E;
        font-weight:Regular;



    }
}
.instagram_main_suggestion{

  margin-top: 50px;
  padding:0px 45px;
}

.follwers_content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 0px;
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color:#8E8E8E;
        font-weight:600;
        line-height: 18px;

    }
    span{
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        color:#262626;
        font-weight:Bold;
        line-height: 18px;

    }
}
.follower{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 0px;

    a{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color:#0095F6;
        font-weight:600;
        line-height: 18px;
        text-decoration:none;

    }

}
.followers_jone{
    display:flex;
    align-items: center;
    justify-content: space-between;

 

}